<% post.comments.each do |comment| %>
<p><%=image_tag comment.user.get_profile_image(30,30) %>
<%=comment.comment %></p>
<p><%=comment.user.name %>
<% if comment.user==current_user %>
<%=link_to "削除",post_comment_path(post.id,comment.id),method: :delete,class: "btn btn-danger btn-sm",remote: true %></p>
<% end %>
<% end %>
