<div class="container">
<div class="row">
<div class="col-md-5">
<table class="table table-border-bottom">
<tr>
  <th>name</th>
  <th>image</th>
</tr>

<% @users.each do |user| %>
<tr>
<td><%=link_to user.name,user_path(user) %></td>
<td><%=image_tag user.get_profile_image(50,50) %></td>
</tr>
<% end %>
</table>
</div
</div>
</div>